#v-keyboard {
    display:grid;
    grid-template-columns: repeat(11, 1fr);
    width: 500px;
    height: 140px;
    
}

#v-keyboard button{
    /* Abstand */
    margin:3px;

    /* border-related */
    border: 0ch;
    border-radius: 5px; 

    /* font-related */
    font-weight: 700;
    font-size: large;
    color: var(--button-text-color);

    /* animation */
    transition:200ms ease-in-out; 
}

#v-keyboard button:hover{
    background-color: var(--button-hover-color);
}

#delete {
    grid-column: 1/3;
}

#enter {
    grid-column: 10/12;
}

/* wordle word check colors for virtual keyboard */
#v-keyboard button.grey {
    background-color: var(--none-input-bb);
    border-color: rgb(208, 207, 207);
    color: white;
}
#v-keyboard button.green {
    background-color: #79b851;
    border-color: #79b851;
    color: white;
}
#v-keyboard button.yellow {
    background-color: rgb(255, 215, 82);
    border-color: rgb(255, 215, 82);
    color: white;
}
/* -------------------------- */