/* HTML hat standart Abstände die im vorhinein entfernt werden müssen '*' = alle Elemente */
* {
    margin: 0;
    padding: 0;

    font-family: var(--font);

    transition: border-color 500ms ease-in-out, 
                background-color 300ms ease-in-out;
}


body{
    height:100vh;

    background-color: var(--background-color);
    display:flex;
    flex-direction:column;
    
    justify-content: space-evenly;
    
    align-items: center;

}