
#popup-wnd {
    position:absolute;
    background-color: var(--popup-background-color);
    margin: auto;
    z-index: 1;

    padding: 2rem;
    border: 2px solid black;

    display: none;
}

#popup-wnd.active {
    display: block;
}

#restart-btn {
    margin: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--button-color);
}

#restart-btn:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

.row {
    display: flex;
}

.input {
    width: 3.4rem;
    height: 3.4rem;
    margin: 0.2rem;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 24px;
    color: rgb(104, 104, 104);
}

.input.selected {
    border-color: rgb(135, 135, 135);
    animation: select 200ms forwards;
    transition: 200ms ease-in-out;
}

@keyframes select {
    0% {
        transform: scale(0.6);
    }
    70% {
        transform: scale(1.1);
    }100% {
        transform: scale(1);
    }
}


/* wordle word check colors */
.input.grey {
    background-color: rgb(208, 207, 207);
    border-color: rgb(208, 207, 207);
    color: white;
}
.input.green {
    background-color: #79b851;
    border-color: #79b851;
    color: white;
}
.input.yellow {
    background-color: rgb(255, 215, 82);
    border-color: rgb(255, 215, 82);
    color: white;
}
/* -------------------------- */